
{% extends 'index.html' %}
{% block TITLE %}
    {{ title }}
{% endblock TITLE %}

{% block CONTENT %}
    <h2>{{ product.title }}</h2>
    <p>{{ product.description }}</p>
    <p>Category: {{ product.category }}</p>
    <p>Created at: {{ product.created_at }}</p>

<div class="forms">
        <div class="comments">
            <h3>Leave comments</h3>
            <form action="{% url 'comment' product.id %}" method="post">
                {% csrf_token %}
                {{ comment_form }}
                <button type="submit">Submit</button>
            </form>
        </div>


    </div>

    <div class="list-comments">
        {% if comments %}
            {% for comment in comments %}
                <p>{{ comment.user.username }}: {{ comment.text }}</p>
                <span>{{ comment.created_at }}</span>
            {% endfor %}
        {% else %}
            <p>No comments yet</p>
        {% endif %}
        </div>

    <div class="order">
            <h3>Place order</h3>

            <form action="{% url 'order' %}" method="post">
                {% csrf_token %}
                {{ order_form }}
                <button type="submit"> Place order </button>
            </form>
        </div>

{% endblock CONTENT %}
